<div class="quote-share">
    <div class="quote-share-like">
        <a href="" class="q-rate q-rate-up rate-button{{#if rated_up}} active{{/if}}">
            <i class="fa fa-thumbs-up"></i>
        </a>

        <a href="" class="q-rate q-rate-down rate-button{{#if rated_down}} active{{/if}}">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>

    <div class="quote-share-social">
        <a href="/quote/default/{{id}}#comments" class="share-button">
            <i class="fa fa-comment"></i>&nbsp;&nbsp;{{comment_count}}
        </a>

        <a href="" target="_blank" class="share-button a2a_dd">
            <i class="fa fa-share-alt"></i>
        </a>
        <script type="text/javascript">
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "MFFun";
            a2a_config.linkurl = "mffun.ms.mff.cuni.cz/quote/default/{{id}}";
            a2a_config.onclick = 1;
            a2a_config.locale = "cs";
        </script>
        <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    </div>

    <div style="clear: both;"></div>
</div>