<div class="quote-share">
    <div class="quote-share-like">
        <a href="" class="q-rate q-rate-up rate-button{{#if rated_up}} active{{/if}}">
            <i class="fa fa-thumbs-up"></i>
        </a>

        <a href="" class="q-rate q-rate-down rate-button{{#if rated_down}} active{{/if}}">
            <i class="fa fa-thumbs-down"></i>
        </a>
    </div>

    <div class="quote-share-social">
        <a href="/quote/default/{{id}}#comments" class="share-button">
            <i class="fa fa-comment"></i>&nbsp;&nbsp;{{comment_count}}
        </a>

        <a href=""  class="share-button">
            <i class="fa fa-share-alt"></i>
        </a>
    </div>

    <div style="clear: both;"></div>
</div>