<div class="row article">
    <article class="content-item">
        <div class="col-lg-2 visible-lg"></div>
        <div class="col-lg-9 col-md-10 col-sm-12 article-content">
            <section>

                <!-- Heading -->
                {{> quote_heading}}
                <!-- Heading -->


                <!-- Quote info -->
                {{> quote_info}}
                <!-- Quote info -->


                <!-- Text -->
                <div class="quote-text"><p>{{text}}</p></div>
                <!-- Text -->


                <!-- Tags -->
                {{> quote_tags}}
                <!-- Tags -->


                <!-- Best comments -->
                {{#if top_comments.length}}
                    {{> quote_top_comments}}
                {{/if}}
                <!-- Best comments -->


                <!-- Share and like buttons -->
                {{> quote_rate}}
                <!-- Share and like buttons -->

            </section>
        </div>
        <div class="col-lg-1 col-md-2 visible-lg visible-md"></div>
    </article>
</div>