{block footScripts}
    <script>
        var sl = new ScrollLoad('#content', '#loader-container', 500, 1000);
    </script>
{/block}

{block content}

    {include 'loop.latte'}
    <div class="row" id="loader-container">
        <div class="col-lg-2 col-md-2 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 article-content">
            <div id="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
        </div>
    </div>
{/block}