{block main}
    <div class="row article">
        <article class="col-lg-12 content-item">
            <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae suscipit ipsum, efficitur sollicitudin odio. Morbi eros sapien, consectetur in fringilla sit amet, feugiat id lacus. Ut quis risus felis. Nulla facilisi. Donec rhoncus elementum fringilla. Suspendisse sit amet feugiat nulla, vel sagittis elit. Duis et diam pharetra, posuere sem eu, dapibus lorem. Nam non tincidunt est. Maecenas volutpat lectus in diam volutpat, vel blandit mauris euismod. Cras consectetur, nunc a consequat molestie, quam erat eleifend nisi, at mollis lectus velit vel erat. Sed consectetur ac lorem sit amet sollicitudin.</p>
            </section>
        </article>
    </div>
{/block}