{var $robots = noindex}

{layout '../@layout.latte'}

{block title}awd{/block}

{block content}

<p>The page you requested could not be found. It is possible that the address is
incorrect, or that the page no longer exists. Please use a search engine to find
what you are looking for. awd</p>
<p><small>error 404</small></p>

{/block}
