{var $robots = 'noindex'}

{block title}Error{/block}

{block main}
    <div id="error-page">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Oops!</h1>
        <p>it looks like you found a </p>
        <h2>Dead Link</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="{$basePath}/public/front/img/dead_link.png" alt="" title="">
    </div>
    </div>
{/block}