parameters:

constants:
    RECAPTCHA_SECRET: 'google_recaptcha_secret_key'

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    redis: Kdyby\Redis\DI\RedisExtension

doctrine:
    host: localhost
    user: root
    password:
    dbname: rocnikac
    metadataCache: array
    queryCache: array
    metadata:
        App: %appDir%

redis:
    journal: on
    storage: on
    session: on