parameters:

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
    host: localhost
    user: root
    password:
    dbname: rocnikac
    metadataCache: array
    queryCache: array
    metadata:
        App: %appDir%

services:
    # repositories
    - App\Model\Repositories\QuoteRepository
    - App\Model\Repositories\UserRepository

    # services
    - App\Model\Services\AuthenticationService
    - App\Model\Events\QuoteListener
    - App\Model\Services\AutocompleteService

    # factories
    - App\RouterFactory
    - App\FrontModule\Components\AddQuote\IAddQuoteControlFactory