parameters:

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
    user: root
    password:
    dbname: rocnikac
    metadataCache: default
    metadata:
        App: %appDir%

services:
    # repositories
    - App\Model\Repositories\QuoteRepository
    - App\Model\Repositories\TeacherRepository
    - App\Model\Repositories\SubjectRepository
    - App\Model\Repositories\UserRepository

    # services
    - App\Model\Services\AuthenticationService

    # factories
    - App\RouterFactory
    - App\AdminModule\IGridoUsersControlFactory
    - App\FrontModule\Components\AddQuote\IAddQuoteControlFactory