parameters:

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
    user: root
    password:
    dbname: rocnikac
    metadata:
        App: %appDir%

services:
    # repositories
    - App\Model\UserManager

    # services

    # factories
    - App\RouterFactory
    - App\AdminModule\IGridoUsersControlFactory
    - App\FrontModule\Components\AddQuote\IAddQuoteControlFactory