services:
    # repositories
    - App\Model\Repositories\QuoteRepository
    - App\Model\Repositories\CommentRepository

    # services
    - App\Model\Services\AuthenticationService
    - App\Model\Services\AutocompleteService
    - App\Model\Services\RatingService

    # entity listeners
    - App\Model\Events\QuoteListener
    - App\Model\Events\QuoteRatingListener
    - App\Model\Events\CommentRatingListener

    # factories
    - App\RouterFactory
    - App\FrontModule\Components\AddQuote\IAddQuoteControlFactory
    - App\FrontModule\Components\IRateQuoteControlFactory
    - App\FrontModule\Components\IRateCommentControlFactory
    - App\FrontModule\Components\CheckLdap\ILdapCheckControlFactory