<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block title}Administrace{/block}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{$basePath}/public/admin/css/bootstrap.css" rel="stylesheet">
    <link href="{$basePath}/public/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{$basePath}/public/admin/css/admin.less" type="text/css/" rel="stylesheet/less">

    <link href="{$basePath}/public/admin/css/plugins/jCrop/jquery.Jcrop.css" type="text/css/" rel="stylesheet/less">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{$basePath}/public/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{$basePath}/public/admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{$basePath}/public/admin/css/sb-admin.css" rel="stylesheet">

    <script src="{$basePath}/public/admin/js/less-1.6.1.min.js"></script>

    <!-- Core Scripts - Include with every page -->
    <script src="{$basePath}/public/admin/js/jquery-1.10.2.js"></script>
    <script src="{$basePath}/public/admin/js/bootstrap.js"></script>
    <script src="{$basePath}/public/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{$basePath}/public/admin/js/nette.ajax.js"></script>
    <script src="{$basePath}/public/admin/js/live-form-validation.js"></script>
    <script src="{$basePath}/public/admin/js/ajaxupload-min.js"></script>

    <!-- GRIDO -->
    <link rel="stylesheet" href="{$basePath}/public/admin/grido/grido.css">
    <link rel="stylesheet" href="{$basePath}/public/admin/grido/typeahead.css">
    <link rel="stylesheet" href="{$basePath}/public/admin/grido/datepicker.css">
    <script src="{$basePath}/public/admin/grido/grido.ajax.js"></script>
    <script src="{$basePath}/public/admin/grido/jquery.hashchange.min.js"></script>
    <script src="{$basePath}/public/admin/grido/jquery.maskedinput.min.js"></script>
    <script src="{$basePath}/public/admin/grido/bootstrap-typeahead.js"></script>
    <script src="{$basePath}/public/admin/grido/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/public/admin/grido/grido.js"></script>
    <script src="{$basePath}/public/admin/grido/grido.ext.js"></script>
    <script src="{$basePath}/public/admin/js/sb-admin.js"></script>

    {block assets}{/block}

</head>
<body>

<div id="wrapper">

<nav class="navbar navbar-default navbar-static-top header" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" n:href="Homepage:default">Administrace</a>
</div>

<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="badge">{$eCount}</span> <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul style="max-height:300px ; overflow: scroll; "  class="dropdown-menu dropdown-messages">
            {if count($emails) == 0}
            <li><a><div><strong>Žádné nové emaily</strong><span class="pull-right text-muted"><em></em></span></div><div></div></a></li>
            {else}
            {foreach $emails as $email}
            <li><a n:href="visited! $email->id"><div><strong>{$email->fromName}</strong><span class="pull-right text-muted"><em>{$email->date}</em></span></div><div>{!$email->textPlain|truncate:100}</div></a></li>
            <li class="divider"></li>
            {/foreach}
            {/if}
            <li><a class="text-center" n:href="Email:default"><strong>Přečíst všechny emaily </strong><i class="fa fa-angle-right"></i></a></li></ul>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="badge">5</span> <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li><a href="#"><div><i class="fa fa-comment fa-fw"></i> New Comment<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
            <li class="divider"></li>
            <li><a href="#"><div><i class="fa fa-twitter fa-fw"></i> 3 New Followers<span class="pull-right text-muted small">12 minutes ago</span></div></a></li>
            <li class="divider"></li>
            <li><a href="#"><div><i class="fa fa-envelope fa-fw"></i> Message Sent<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
            <li class="divider"></li>
            <li><a href="#"><div><i class="fa fa-tasks fa-fw"></i> New Task<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
            <li class="divider"></li>
            <li><a href="#"><div><i class="fa fa-upload fa-fw"></i> Server Rebooted<span class="pull-right text-muted small">4 minutes ago</span></div></a></li>
            <li class="divider"></li>
            <li><a class="text-center" href="#"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a></li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
</ul>
<!-- /.navbar-top-links -->

</nav>
<!-- /.navbar-static-top -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-user">
                <div class="sidebar-user">
                    <div class="sidebar-user-avatar"><img src="{$basePath}/public/admin/img/noimage.png" alt="" title=""></div>
                    <p>{$user->getIdentity()->username}</p>
                    <a href="{link logout!}"><i class="glyphicon glyphicon-off"></i></a>
                    <div style="clear:both"></div>
                </div>
            </li>
            <li{ifCurrent Homepage:default} class="active"{/ifCurrent}><a href="{link Homepage:default}"><i class="glyphicon glyphicon-th-large"></i> Nástěnka</a></li>
            <li{if $presenter->name == 'Admin:Uzivatele'} class="active"{/if}><a href="{link Uzivatele:default}"><i class="glyphicon glyphicon-user"></i> Uživatelé</a></li>
            <li{if $presenter->name == 'Admin:Clanky'} class="active"{/if}><a href="{link Clanky:default}"><i class="glyphicon glyphicon-file"></i> Články</a></li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->

<div id="page-wrapper">
    {snippet content}
    <div class="row" id="breadcrumb">
        <div clas="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{link Homepage:default}">Domů</a></li>
                {include breadcrumb}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{snippet header}{include title}{/snippet}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {$flash->message}
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        {include content}
    </div>
    {/snippet}
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


</body>
</html>