<a href="" class="rate up" data-cid="{$cid}" data-rate="up">
    <i class="fa fa-thumbs-up"></i>
    {$up}
</a>

<a href="" class="rate down" data-cid="{$cid}" data-rate="down">
    <i class="fa fa-thumbs-down"></i>
    {-1*$down}
</a>