{form quoteForm}
<p>
    {label subject /}
    {input subject}
    <i class="fa fa-puzzle-piece fa-fw"></i>
</p>

<p>
    {label teacher /}
    {input teacher}
    <i class="fa fa-mortar-board fa-fw"></i>
</p>

<p>
    {label text /}
    {input text}
</p>

<p>
    {label date /}
    {input date}
    <i class="fa fa-calendar-o fa-fw"></i>
</p>

<p>
    {label user_email /}
    {input user_email}
    <i class="fa fa-envelope-o fa-fw"></i>
</p>

<p>
    {input process}
</p>
{/form}