<div class="comment {$class} clearfix">
    <div class="comment-left">
        <img src="{$basePath}/public/front/avatars/{$comment->user->avatar}" alt="" title=""
             class="img-circle">
    </div>
    <div class="comment-right">
        <a {if $comment->user->name}title="{$comment->user->name}"{/if}>{$comment->getUser()->getUsername()}
            <i class="flag-mff" n:if="$comment->user->mff" title="ověřený matfyzák">MFF</i>
            <i class="flag-adm" n:if="$comment->user->role == App\Model\Entities\User::ROLE_ADMIN" title="administrátor">ADM</i>
            <i class="flag-mod" n:if="$comment->user->role == App\Model\Entities\User::ROLE_MODERATOR" title="moderátor">MOD</i>
            <span>{$comment->getDiff()}</span></a>

        <p>
            {$comment->getText()}
        </p>

        <div class="comment-controls">
            {control rateComment, cid => $comment->id, up => $comment->getRatingUp(), down => $comment->getRatingDown()}
            {if !$class && $user->isLoggedIn()}<a href="" class="reply" data-reply="{$comment->id}">
                    reagovat</a>{/if}
        </div>
    </div>
</div>