@bgcolor: #ECF0F1;
@textcolor: #2C3E50;
@red: #E74C3C;
@blue: #3498DB;
@grey: #646464;
@logo: #E0393D;
@green: #45B29D;
@redish: #e05866;
@orange: #e67e22;

@oswald: 'Oswald', sans-serif;
@proxima: proxima;
// temporary crappy font fix
@bodyfont: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
@proxima: @bodyfont;

@nav_panel_height: 54px;

//@box_shadow: 0 3px 1px 1px #e4e6eb - 10, 0 2px 0 #fff - 80;
@box_shadow: 0 2px 0px 1px @bgcolor - 15;