{block content}
    <div class="row article">
        <article class="content-item">
            <div class="col-lg-10 col-md-12 col-sm-12 article-content">
                <section>
                    <h1>Obnovení zapomenutého hesla</h1>

                    <p class="notice">Na uvedenou e-mailovou adresu vám bude zaslán odkaz pro obnovení hesla.</p>
                    {control recoverForm}
                </section>
            </div>
        </article>
    </div>
{/block}