<div id="loader-container">
    <div class="col-lg-2 visible-lg"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 article-content">
        <div id="loader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    </div>
</div>