<div class="row" id="more-button">
    <div class="col-lg-2 visible-lg"></div>
    <div class="col-lg-9 col-md-10 col-sm-12 article-content">
        <a href="/homepage/{{action}}/?p={{page}}" class="btn btn-primary btn-lg btn-block">zobrazit další</a>
    </div>
    <div class="col-lg-1 col-md-2 visible-lg visible-md"></div>
</div>