<div class="row" id="more-button">
    <div class="col-lg-2 visible-lg"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 article-content">
        <a href="/homepage/{{action}}/?p={{page}}" class="btn btn-primary btn-lg btn-block">zobrazit další</a>
    </div>
</div>