<div class="row article">
    <article class="content-item">
        <div class="col-lg-2 visible-lg"></div>
        <div class="col-lg-10 col-md-12 col-sm-12 article-content">
            <section>
                <!-- Share and like buttons -->
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://fun.dev/quote/default/570">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a target="_blank" href="https://twitter.com/home?status=citace%20z%20MFF:%0Ahttp://fun.dev/quote/default/570">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a target="_blank" href="https://plus.google.com/share?url=http://fun.dev/quote/default/570">
                        <i class="fa fa-google-plus"></i>
                    </a>

                    <a href="/?rateQuote-qid=570&do=rateQuote-down" data-qid="570" data-rate="down" class="q-rate q-rate-down">
                        <i class="fa fa-thumbs-down"></i>
                    </a>

                    <a href="/?rateQuote-qid=570&do=rateQuote-up" data-qid="570" data-rate="up" class="q-rate q-rate-up active">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                </div>
                <!-- Share and like buttons -->


                <!-- Heading -->
                <h2>
                    <a href="/quote/default/570" target="_blank">
                        Předmět neuveden
                    </a>

                    <small>
                        <a href="/homepage/teacher/56">#DoležalováDrahomíra</a>
                    </small>
                    <br>
                </h2>
                <!-- Heading -->


                <!-- Quote info -->
                <span>
                    <a href="/quote/default/570" target="_blank">
                        <span id="q-rating-570">2</span> bodů
                    </a>
                    &nbsp; &middot; &nbsp;
                    <a href="/quote/default/570#comments" target="_blank">
                        1 komentářů
                    </a>
                </span>
                <!-- Quote info -->


                <!-- Text -->
                <div class="quote-text"><p>Chcešli změnit svůj život, změn své okolí.</p></div>
                <!-- Text -->


                <!-- Tags -->
                <div class="item-tags"></div>
                <!-- Tags -->


                <!-- Best comments -->
                <footer>
                    <div class="top-comment clearfix">
                        <img src="/public/front/avatars/cheetah_128px.png" alt="" title="borec" class="img-circle">

                        <div class="comment-body">
                            <p>
                                nejaky koment
                            </p>
                            <span><i class="fa fa-thumbs-up"></i> 1</span>
                            <span><i class="fa fa-thumbs-down"></i> 0</span>
                        </div>
                    </div>
                    <p>
                        <i class="fa fa-angle-right"></i>
                        <a href="/quote/default/570#comments" target="_blank">
                            všechny komentáře
                        </a>
                    </p>
                </footer>
                <!-- Best comments -->

            </section>
        </div>
    </article>
</div>