<div class="row" id="reload-button-content">
    <div class="col-lg-2 visible-lg"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 article-content">
        <button class="btn btn-warning btn-lg btn-block" id="reload-button">zkusit znovu</button>
    </div>
</div>